body{
    background-color: #eaecee;
   
}

#cont1{
    background-color: #e5e7e9 ;
    border: 3px solid #aeb6bf ;
}

.eye-icon {  
    cursor: pointer;  
    position: absolute;  
    right: 10px;  
    top: 52%;  
    transform: translateY(-50%);  
    z-index: 2;  
}  
.input-group {   
    position: relative;   
}

.line-container {  
    display: flex;  
    align-items: center;  
    text-align: center;
}  
.line {  
  flex-grow: 1;
border-top: 3px solid #d7d8da;  
}  
.line-text { 
    padding: 0 10px;  
}  